@import url("https://fonts.googleapis.com/css?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css?family=Architects+Daughter&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: numbermariokart;
  src: url("assets/fonts/SuperMario256.ttf");
}
@font-face {
  font-family: textmariokart;
  src: url("assets/fonts/ranking.ttf");
}
